html,body,page{
    height: 100%;
    width: 100%;
    margin: 0px;
}
page {
    font-size: 100px;
    position: absolute;
    text-align: center;
    padding-top: 40%;
}
@keyframes c {
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    60%{opacity: 0}
    100%{opacity:0}
}
@keyframes x {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity:0}
}
@keyframes q {
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity:0}
    100%{opacity:0}
}
@keyframes d {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 0}
    80%{opacity:100}
    100%{opacity:0}
}
@keyframes z {
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 0}
    70%{opacity: 0}
    80%{opacity:100}
    100%{opacity:0}
}
#c{
    animation: c 10s infinite;
    background-color: lightgreen;
}
#x{
    animation: x 10s infinite;
    background-color: orangered;
}
#q{
    animation: q 10s infinite;
    background-image: url("../images/gamersky_10origin_19_2015827102762F.jpg");
    background-size: 100% 100%;
}
#d{
    animation: d 10s infinite;
    background-color: black;
    color: white;
}
#z{
    display: block;
    font-size: 40px;
    animation: z 10s infinite;
}